<!DOCTYPE html>
<html>
  <head>
    <title>BeDepraved</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="Utterless Depravity - A game so moraly depraved you'll never look at humanity the same!" />
    <meta property="og:site_name" content="BeDepraved"/>
    <meta property="og:url" content="https://www.BeDepraved.com/?utm_source=Face%20Book&utm_medium=Meta%20Shares&utm_campaign=FB%20Meta%20Shares" />
    <meta property="og:description" content='To "Utter" is to speak, "Utterless" is to not speak. Depravity is the f***ed up part of us all that some try so hard to hide. Utterless Depravity brings out the f***ed without a word being uttered. It is a party game that pushes the limits of your humanity. It will highlight the deepest darkest corners of your friends minds.'>
    <meta property="og:type"   content="product.group" /> 
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/bedepraved-bucket/Row-o-Cards-FB.png" />
    <!-- Facebook Conversion Code for BeDepraved -->
    <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6026687654474', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026687654474&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
    <%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
    <meta name="msvalidate.01" content="644BC8395B33FFC0F0C7A5736A61C10B" />
  </head>
  <body>

    <%= yield %>

  </body>
</html>
