<!DOCTYPE html>
<html>
  <head>
    <title>BeDepraved</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
